.head {
    font-size: 14px;
    color: #000;
    text-align: center;
}

.head img {
    width: 60px;
    height: auto;
}

table,
th,
td {
    width: 100%;
    border: 1px solid #000;
    padding: 2px;
    font-size: 12px;
}